<?xml version="1.0" encoding="utf-8"?>
<manifest package="jmmacbook.android.sunnyday"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/sun_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="DATABASE"
            android:value="city_data.db"/>
        <meta-data
            android:name="VERSION"
            android:value="2"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="jmmacbook.android.sunnyday.data"/>

        <activity
            android:name=".CitiesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DetailsActivity" android:screenOrientation="portrait">
        </activity>
        <service android:name=".background.BackgroundService"/>
    </application>

</manifest>